{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* CSS styles */
    .container {
        max-width: 800px;
        margin: 20px auto 0;
        /* Added margin-top */
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .title {
        text-align: center;
        color: #333;
    }

    .section-title {
        margin-top: 20px;
        color: #666;
    }

    .folders-list,
    .files-list {
        list-style-type: none;
        padding: 0;
    }

    .folder-item,
    .file-item {
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }

    .folder-link,
    .file-link {
        text-decoration: none;
        color: #007bff;
    }

    .add-folder-form,
    .file-upload-form {
        margin-top: 30px;
    }

    .folder-form,
    .file-upload-form {
        display: flex;
        flex-direction: column;
    }

    .btn {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .btn-back {
        margin-bottom: 20px;
        background-color: #6c757d;
    }

    .btn-back:hover {
        background-color: #5a6268;
    }

    /* FontAwesome Icons */
    .fa-folder:before {
        content: "\f07b";
        /* Folder icon */
        margin-right: 5px;
    }

    .fa-file:before {
        content: "\f15b";
        /* File icon */
        margin-right: 5px;
    }

    .fa-plus:before {
        content: "\f067";
        /* Plus icon */
        margin-right: 5px;
    }

    .fa-upload:before {
        content: "\f093";
        /* Upload icon */
        margin-right: 5px;
    }

    .fa-arrow-left:before {
        content: "\f060";
        /* Arrow Left icon */
        margin-right: 5px;
    }

    /* File upload styling */
    .file-upload-form input[type="file"] {
        margin-bottom: 10px;
    }

    .btn-download {
        margin-left: 10px;
    }
</style>
<!-- folder_detail.html -->

<div class="container">
    <!-- Go Back Button -->
    <button class="btn btn-back" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

    <h1 class="title">{{ folder.name }}</h1>

    <!-- Display existing folders in the current folder -->
    <div class="folders-container">
        <ul class="folders-list">
            {% for subfolder in subfolders %}
            <li class="folder-item">
                <a href="{% url 'home:folder_detail' folder_id=subfolder.pk %}" class="folder-link">
                    <i class="fas fa-folder"></i> {{ subfolder.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Display existing files in the current folder -->
    <div class="files-container">
        <ul class="files-list">
            {% for file in files %}
            <li class="file-item">
                <a href="{{ file.file.url }}" class="file-link">
                    <i class="fas fa-file"></i> {{ file.name }}
                </a>
                <a href="{{ file.file.url }}" class="btn btn-download" download><i class="fas fa-download"></i>
                    Download</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Form for inviting a user to access the current folder -->
    <div class="invite-user-form">
        <h2 class="section-title">Invite User to Access Folder</h2>
        <form method="post" id="inviteForm" action="{% url 'home:invite_user_to_folder' folder_id=folder.id %}">
            {% csrf_token %}
            <input type="hidden" name="referer" value="{{ request.path }}">
            <div class="form-group">
                <label for="invited_username">Username:</label>
                <input type="text" id="invited_username" name="invited_username" class="form-control"
                    placeholder="Enter username">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Invite User</button>
        </form>
    </div>


    <!-- Display invited users -->
    <!-- <div class="invited-users">
        <h2 class="section-title">Invited Users</h2>
        <ul class="users-list">
            {% for invitation in folder.invitations.all %}
                <li class="user-item">{{ invitation.invited_user.username }}</li>
            {% endfor %}
        </ul>
    </div> -->

    <!-- Form for creating a new folder within the current folder -->
    <div class="add-folder-form">
        <h2 class="section-title">Create New Folder</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Create Folder</button>
        </form>
    </div>

    <!-- Form for uploading a file to the current folder -->
    <div class="file-upload-form">
        <h2 class="section-title">Upload File</h2>
        <form method="post" action="{% url 'home:upload_file' folder_id=folder.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Upload File</button>
        </form>
    </div>
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock content %}