{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* CSS styles */
    .container {
        max-width: 800px;
        margin: 20px auto 0;
        /* Added margin-top */
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .title {
        text-align: center;
        color: #333;
    }

    .section-title {
        margin-top: 20px;
        color: #666;
    }

    .folders-list {
        list-style-type: none;
        padding: 0;
    }

    .folder-item {
        margin-bottom: 10px;
        background-color: #fff;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }

    .folder-link {
        text-decoration: none;
        color: #007bff;
    }

    .add-folder-form {
        margin-top: 30px;
    }

    .folder-form {
        display: flex;
        flex-direction: column;
    }

    .btn {
        display: inline-block;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .btn-back {
        margin-bottom: 20px;
        background-color: #6c757d;
    }

    .btn-back:hover {
        background-color: #5a6268;
    }

    /* FontAwesome Icons */
    .fa-folder:before {
        content: "\f07b";
        /* Folder icon */
        margin-right: 5px;
    }

    .fa-plus:before {
        content: "\f067";
        /* Plus icon */
        margin-right: 5px;
    }

    .fa-upload:before {
        content: "\f093";
        /* Upload icon */
        margin-right: 5px;
    }

    .fa-arrow-left:before {
        content: "\f060";
        /* Arrow Left icon */
        margin-right: 5px;
    }

   
</style>

<!-- home.html -->
<div class="container">

    <h1 class="title">Home Page</h1>

    {% if invited_folders %}
    <div class="invited-folders-container">
        <h2 class="section-title">Invited Folders</h2>
        <ul class="folders-list">
            {% for folder in invited_folders %}
            <li class="folder-item">
                <a href="{% url 'home:folder_detail' folder_id=folder.pk %}" class="folder-link">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{ folder.name }}
                </a>
                <button class="btn btn-share" onclick="openInviteModal('{{ folder.pk }}')"><i class="fas fa-share"></i>
                    Share</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <button class="btn btn-primary" id="openModalBtn"><i class="fas fa-plus"></i> Add Folder</button>
    <!-- Display owned folders -->
    {% if owned_folders %}
    <div class="owned-folders-container">
        
        <h2 class="section-title">Owned Folders</h2>

        <ul class="folders-list">
            {% for folder in owned_folders %}
            <li class="folder-item">
                <a href="{% url 'home:folder_detail' folder_id=folder.pk %}" class="folder-link">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{ folder.name }}
                </a>
                <button class="btn btn-share" onclick="openInviteModal('{{ folder.pk }}')"><i class="fas fa-share"></i>
                    Share</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <!-- Display existing folders -->
    <div class="folders-container">
        <h2 class="section-title">My Folders</h2>
        <ul class="folders-list">
            {% for folder in folders %}
            {% if not folder.parent %}
            <li class="folder-item">
                <a href="{% url 'home:folder_detail' folder_id=folder.pk %}" class="folder-link">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{ folder.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>





</div>



</div>
{% include 'home/invite_user_folder.html' %}

{% include 'home/create_folder_modal.html' %}


<script>
    // Open the invite user modal
    function openInviteModal(folderId) {
        document.getElementById('inviteModal').style.display = 'block';
        document.getElementById('folder_id').value = folderId;
        document.getElementById('inviteForm').action = "/folder/" + folderId + "/invite/";
    }

</script>

{% endblock %}